body {
    width: 100%;
    text-align: center;
  }
  
  #wrap {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    background: #f4f7f6;
  }
  
  img {
    width: 200px;
    height: 100px;
    position: fixed;
    top: 20px;
    left: 118px;
  }
  
  label {
    display: block;
    margin-bottom: 7px;
    font-size: 86%;
  }
  
  input[type="text"], textarea {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 86%;
    border: 1px solid rgb(0, 102, 255);
    border-radius: 3px;
    background: #fff;
  }
  
  input[type="text"] {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: #006eff;
  }
  
  textarea {
    width: 100%;
    max-width: 100%;
    height: 800px;
    background-color: rgb(255, 255, 255);
    border: #f4f7f6;
  }
  
  input {
    &[type="submit"] {
      appearance: none;
      -webkit-appearance: none;
      padding: 10px 20px;
      color: #fff;
      font-size: 86%;
      line-height: 1.0em;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      background-color: #6ad2da;
    }
  
    &[type=submit]:hover {
      background-color: #6ad2da;
    }
  }
  
  button:hover {
    background-color: #6ad2da;
  }
  
  hr {
    margin: 20px 0;
    padding: 0;
  }
  
  .success_message {
    margin-bottom: 20px;
    padding: 10px;
    color: #48b400;
    border-radius: 10px;
    border: 1px solid #4dc100;
  }
  
  .error_message {
    margin-bottom: 20px;
    padding: 10px;
    color: #ef072d;
    list-style-type: none;
    border-radius: 10px;
    border: 1px solid #ff5f79;
  }
  
  .success_message, .error_message li {
    font-size: 86%;
    line-height: 1.6em;
  }
  

  
  article {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
  
    &.reply {
      position: relative;
      margin-top: 15px;
      margin-left: 30px;
  
      &::before {
        position: absolute;
        top: -10px;
        left: 20px;
        display: block;
        content: "";
        border-top: none;
        border-left: 7px solid #f4f7f6;
        border-right: 7px solid #f4f7f6;
        border-bottom: 10px solid rgb(255, 0, 0);
      }
    }
  }
  
  .info {
    margin-bottom: 10px;
  
    h2 {
      display: inline-block;
      margin-right: 10px;
      color: rgb(71, 71, 71);
      line-height: 1.6em;
      font-size: 86%;
    }
  
    time {
      color: #999;
      line-height: 1.6em;
      font-size: 72%;
    }
  }
  
  article p {
    color: #555;
    font-size: 86%;
    line-height: 1.6em;
  }
  
  @media only screen and (max-width: 1200px) {
    input[type="text"] {
      width: 100%;
      background-color: rgb(255, 255, 255);
    }
  
    textarea {
      width: 100%;
      max-width: 100%;
      height: 800px;
      background-color: rgb(255, 255, 255);
    }
  }
  
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  
    &:before, &:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  
  html {
    height: 100%;
  }
  
  body {
    height: 100%;
    font-size: 14px;
    font-family: 'Lato', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    background: #f4f7f6;
    -webkit-text-size-adjust: 100%;
  }
  
  #main {
    background: #f4f7f6;
  }
  
  #main-in {
    padding-left: 260px;
  }
  
  #main {
    p {
      margin-bottom: 1em;
      line-height: 1.9;
    }
  
    .inner {
      padding: 60px;
    }
  }
  

  
  #main-visual {
    background: #808080;
    background: -webkit-linear-gradient(-45deg, #f4f7f6, #f4f7f6);
    background: -moz-linear-gradient(-45deg, #f4f7f6, #f4f7f6);
    background: -ms-linear-gradient(-45deg, #f4f7f6, #f4f7f6);
    background: -o-linear-gradient(-45deg, #f4f7f6, #f4f7f6);
    background: linear-gradient(-45deg, #f4f7f6, #f4f7f6);
    height: 400px;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  
    h2 {
      font-size: 180%;
      color: rgb(0, 0, 0);
    }
  }
  
  h3 {
    font-size: 131%;
    margin-bottom: .7em;
  }
  
  #copyright a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }
  }
  
 
  
  #global-head {
    position: fixed;
    color: #000000;
    width: 260px;
    text-align: center;
    padding-top: 60px;
    z-index: 100;
  }
  
  #sidebar {
    font-size: 15px;
    padding-top: 120px;
    width: 260px;
    height: 100%;
    position: fixed;
    color: #757575;
    background: #f4f7f6;
    text-align: center;
  }
  
  #global-nav {
    ul {
      list-style: none;
      margin-left: 0;
    }
  
    > ul > li {
      position: relative;
    }
  
    a {
      color: #000000;
      text-decoration: none;
      display: block;
      padding: 15px 0;
      -moz-transition: background-color .3s linear;
      -webkit-transition: background-color .3s linear;
      transition: background-color .3s linear;
    }
  
    .sub-menu.is-active > a, a:hover {
      color: #fff;
      background: #a1a1a1;
    }
  
    .sub-menu-nav a, .sub-menu:hover .sub-menu-nav {
      width: 230px;
    }
  
    .sub-menu-head {
      position: relative;
  
      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 18px;
        margin: auto;
        vertical-align: middle;
        width: 8px;
        height: 8px;
        border-top: 1px solid #000000;
        border-right: 1px solid #000000;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  
    .sub-menu-nav {
      position: fixed;
      background: #5c5c5c;
      color: #fff;
      top: 0;
      padding-top: 90px;
      left: 260px;
      width: 0;
      height: 100%;
      overflow: hidden;
      -moz-transition: width .2s ease-out;
      -webkit-transition: width .2s ease-out;
      transition: width .2s ease-out;
    }
  
    .sub-menu.is-active > a:after, .sub-menu-head:hover:after {
      border-color: #fff;
    }
  
    .sub-menu-nav a {
      color: #fff;
  
      &:hover {
        color: #000000;
        background: #fff;
      }
    }
  }
  
 
  
  #nav-toggle {
    display: none;
    position: fixed;
    top: 15px;
    right: 15px;
    height: 32px;
  
    > div {
      position: relative;
      width: 32px;
    }
  
    span {
      width: 100%;
      height: 2px;
      left: 0;
      display: block;
      background: #000000;
      position: absolute;
      -webkit-transition: .35s ease-in-out;
      -moz-transition: .35s ease-in-out;
      transition: .35s ease-in-out;
  
      &:nth-child(1) {
        top: 0;
      }
  
      &:nth-child(2) {
        top: 11px;
      }
  
      &:nth-child(3) {
        top: 22px;
      }
    }
  }
  
  #overlay {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  @media screen and (max-width: 900px) {
    #main-in {
      padding-left: 0;
    }
  
    #global-head {
      width: 100%;
      padding: 10px;
      background: rgb(255, 255, 255);
      display: -webkit-flex;
      display: flex;
    }
  
    #sidebar {
      /*display: none;*/
      position: fixed;
      right: -300px;
      top: 0;
      height: 100%;
      width: 300px;
      color: #000000;
      background: #fff;
      -webkit-transition: .35s ease-in-out;
      transition: .35s ease-in-out;
    }
  
 
  
    #global-nav {
      .sub-menu-head:after, .sub-menu-nav {
        display: none;
      }
    }
  
    #nav-toggle {
      display: block;
    }
  

  
    .open {
      overflow: hidden;
  
      #overlay {
        display: block;
      }
  
      #sidebar {
        -webkit-transform: translate3d(-300px, 0, 0);
        transform: translate3d(-300px, 0, 0);
      }
  
      #nav-toggle span {
        &:nth-child(1) {
          top: 11px;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          transform: rotate(45deg);
        }
  
        &:nth-child(2) {
          width: 0;
          left: 50%;
        }
  
        &:nth-child(3) {
          top: 11px;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
    }
  
 
  
    #overlay {
      z-index: 200;
    }
  
    #sidebar {
      z-index: 300;
    }
  
    #nav-toggle {
      z-index: 400;
    }
  }
  
  @media screen and (max-width: 400px) {
    img {
      width: 200px;
      height: 100px;
      position: fixed;
      top: 5px;
      left: 2px;
    }
  
    #sidebar {
      right: -200px;
      width: 200px;
      padding-top: 60px;
    }
  
    .open #sidebar {
      -webkit-transform: translate3d(-200px, 0, 0);
      transform: translate3d(-200px, 0, 0);
    }
  }
